<p id="notice"><%= notice %></p>

<h1>Frontpages</h1>

<div class="btn-group">
  <button class="btn">Action</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
  </ul>
</div>

<br>

<%= link_to 'New Frontpage', new_frontpage_path %>
